*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 1rem;
}

.form-div{
    width: 65%;
}

.header-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 35px;
    height: 50px;
    position: relative;
}

.input-div{
border-right: 1px solid;
width: 33%;
}

.input-div:nth-of-type(3){
    border-right: none;    
}

.input-div input{
    border: none;
    width: 220px;
    padding-left: .5rem;
}

.Btn-div{
    position: absolute;
    right: -2px;
}


.Btn-div button{
    border-radius: 50%;
    background-color: #a57283;
    border: 1px solid;
    width: 54px;
    height: 54px;
    cursor: pointer;
    color: #fff;
}

.Icon-div{
    border: 1px solid;
    border-radius: 35px;
    width: 120px;
    height: 38px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.Icon-div a{
    color: #595959;
    padding: 0 .4rem;
}